*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: sticky;
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

#logo{
   width:200px;
   margin-left: 20px;
}

.search-container{
    display: flex;
    margin-left: 50px;
    height: 35px;
}

#search-input{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 250px;
    border-style: none;
    border-style: solid;
    border-color: gray;
    box-sizing: border-box;
    padding-left: 20px;
    
}

#search-input:focus {
    outline: none;   
}

#search-btn{
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 46px;
    border-style: solid;
    border-color: gray;
    background:#B6BBC4;
}

.tags{
   display: flex;
   gap: 50px;
   margin-left:150px;
   align-items: center;
}

.btn{
    width: 100px;
    height: 33px;
    background-color: #B6BBC4;
    border-style: none;
    border-radius: 18px;
}

.btn button{
    color: #161A30;
}
.links {
    display: flex;
    gap: 5px;
    align-items: center;

}
.links a{
    text-decoration: none;
    color: #161A30; 
}

/* Competition Details */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    padding: 20px;
    gap: 40px;
    margin: 40px 120px;
    border-radius: 15px;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.fields input{
    width: 600px;
    height: 40px;
    border-style: solid;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;

}

.fields select{
    width: 610px;
    height: 48px;
    border-style: solid;
    outline: none;
    border-radius: 10px;
}

.fields span{
    color: red;
}

.fields button{
    width: 100px;
    height: 40px;
    background-color: #B6BBC4;
    border-radius: 20px;
    border-style: none;
}

